h1{
    color:blue;
    text-align: center;
}
.XI{
    color:grey;
}
.HIM{
    color: red;
}
.Niny{
    color:green;
}
.Mega{
    color:blue;
}
.loveyou{
    color: white;
    cursor: pointer;
    background-color: red;
}
.d{
    color: white;
    cursor: pointer;
    background-color: green;
}
.nin{
    color: white;
    cursor: pointer;
    background-color: blue
}